*{
    margin:0px;
    padding:0px;
}
body{
    background-color: #B09E99;
    text-align: center;
}
.container{
    height: 70vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 70vmin;
    width: 70vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 20vmin;
    width: 20vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 8vmin;
    color: black;
    background-color: white;
}

#reset_btn{

    padding: 1rem;
    font-size: 1rem;
    border-radius: 0.7rem;
    border:none;
    background-color: #B5CBB7;
    color: black;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
}
#msg{
    font-size: 5vmin;
}
#new-game{
    padding: 1rem;
    font-size: 1rem;
    border-radius: 0.7rem;
    border:none;
    background-color: #B5CBB7;
    color: black;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
}
.msg_container{
    height:100vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vmin;
    font-size:5vmin;
}

.hide{
   display:none;
}